<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:section name="main">
        <f:form.validationResults>
            <f:if condition="{validationResults.flattenedErros">
                <ul class="list-group bg-danger">
                    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                        <li class="list-group-item">
                            <f:translate key="error.{propertyPath}">error.{propertyPath}</f:translate>
                            <ul>
                                <f:for each="{errors}" as="error">
                                    <f:translate key="error.{propertyPath}.{error.code}">error.{propertyPath}.{error.code}: {error.message}</f:translate>
                                </f:for>
                            </ul>
                        </li>
                    </f:for>
                </ul>
            </f:if>
        </f:form.validationResults>
    </f:section>

    <f:section name="field">
        <f:form.validationResults for="{property}">
            <f:if condition="{validationResults.flattenedErrors}">
                <ul class="errors">
                    <f:for each="{validationResults.errors}" as="error">
                        <li><f:translate key="error.{property}.{error.code}">error.{property}.{error.code}: {error.message}</f:translate></li>
                    </f:for>
                </ul>
            </f:if>
        </f:form.validationResults>
    </f:section>
</html>
