<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Vue" />

    <f:section name="main">
        <f:render partial="Calendar/Vue/Actions" section="main" />
        <f:render partial="Calendar/Vue/Day" section="main" />
        <f:render partial="Calendar/Vue/Week" section="main" />
        <f:render partial="Calendar/Vue/Month" section="main" />
        <f:render partial="Calendar/Vue/Next" section="main" />
    </f:section>
</html>