<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="main">
        <div class="row">
            <div class="col-4">
                <div class="btn-group" role="group">
                    <f:link.action action="list"
                                   controller="Calendar"
                                   class="btn btn-outline-primary"
                                   title="{f:translate(key:'calendar.view.day')}"
                                   arguments="{view: 'day'}">
                        <i class="bi bi-calendar-day"></i>
                    </f:link.action>
                    <f:link.action action="list"
                                   controller="Calendar"
                                   class="btn btn-outline-primary"
                                   title="{f:translate(key:'calendar.view.week')}"
                                   arguments="{view: 'week'}">
                        <i class="bi bi-calendar-week"></i>
                    </f:link.action>
                    <f:link.action action="list"
                                   controller="Calendar"
                                   class="btn btn-primary"
                                   title="{f:translate(key:'calendar.view.month')}"
                                   arguments="{view: 'month'}">
                        <i class="bi bi-calendar-month"></i>
                    </f:link.action>
                    <f:link.action action="list"
                                   controller="Calendar"
                                   class="btn btn-outline-primary"
                                   title="{f:translate(key:'calendar.view.next')}"
                                   arguments="{view: 'next'}">
                        <i class="bi bi-calendar-event"></i>
                    </f:link.action>
                </div>
            </div>
            <div class="col-4">
                <div class="btn-group" role="group">
                    <f:link.action action="list"
                                   controller="Calendar"
                                   class="btn btn-primary"
                                   title="{f:translate(key:'calendar.view.previousYear')}"
                                   arguments="{selectedYear: '{currentYear - 1}'}">
                        <i class="bi bi-caret-left"></i>
                    </f:link.action>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="owl-cal-select-month" data-bs-toggle="dropdown">
                            <f:translate key="calendar.month.{currentMonth}" />
                        </button>
                        <ul class="dropdown-menu">
                            <f:for each="{months}" as="month">
                                <li>
                                    <f:link.action action="list" controller="Calendar" arguments="{selectedMonth: month}" class="dropdown-item">
                                        <f:translate key="calendar.month.{month}" />
                                    </f:link.action>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="owl-cal-select-year" data-bs-toggle="dropdown">
                            {currentYear}
                        </button>
                        <ul class="dropdown-menu">
                            <f:for each="{years}" as="year">
                                <li>
                                    <f:link.action action="list" controller="Calendar" arguments="{selectedYear: year}" class="dropdown-item">
                                        {year}
                                    </f:link.action>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                    <f:link.action action="list"
                                   controller="Calendar"
                                   class="btn btn-primary"
                                   title="{f:translate(key:'calendar.view.nextYear')}"
                                   arguments="{selectedYear: '{currentYear + 1}'}">
                        <i class="bi bi-caret-right"></i>
                    </f:link.action>
                </div>
            </div>
            <div class="col-4">
                <f:link.action action="new"
                               controller="Event"
                               class="btn btn-primary"
                               arguments="{calendar: currentCalendar}"
                               title="{f:translate(key:'event.new')}">
                    <i class="bi bi-calendar-plus"></i>
                </f:link.action>
            </div>
        </div>
        <div class="calendar">
            <table class="table">
                <tr>
                    <td><f:translate key="calendar.day.mo" /></td>
                    <td><f:translate key="calendar.day.tu" /></td>
                    <td><f:translate key="calendar.day.we" /></td>
                    <td><f:translate key="calendar.day.th" /></td>
                    <td><f:translate key="calendar.day.fr" /></td>
                    <td><f:translate key="calendar.day.sa" /></td>
                    <td><f:translate key="calendar.day.su" /></td>
                </tr>
                <f:for each="{weeks}" key="weekNumber" as="days">
                    <tr>
                        <f:for each="{days}" as="day">
                            <td><small><f:format.date format="j">{day}</f:format.date></small></td>
                        </f:for>
                    </tr>
                </f:for>
            </table>
        </div>
    </f:section>
    <f:section name="navigation">
        <f:link.action class="btn btn-lg btn-primary" action="new" controller="Calendar" title="{f:translate(key:'calendar.new')}">
            <i class="bi bi-calendar-plus"></i>
        </f:link.action>
        <ul class="nav flex-column">
            <f:for each="{calendars}" as="calendar">
                <li class="nav-item">
                    <f:if condition="{calendar.visible}">
                        <f:then>
                            <f:link.action class="nav-link active" action="list" controller="Calendar" arguments="{showCalendar: calendar.uid}">
                                <i class="bi bi-calendar-check" style="color: {calendar.color}"></i>
                            </f:link.action>
                            <f:link.action action="edit" controller="Calendar" arguments="{calendar: calendar}">
                                <i class="bi bi-pencil"></i>
                            </f:link.action>
                            {calendar.title}
                        </f:then>
                        <f:else>
                            <f:link.action class="nav-link" action="list" controller="Calendar" arguments="{hideCalendar: calendar.uid}">
                                <i class="bi bi-calendar" style="color: {calendar.color}"></i>
                            </f:link.action>
                            <f:link.action action="edit" controller="Calendar" arguments="{calendar: calendar}">
                                <i class="bi bi-pencil"></i>
                            </f:link.action>
                            {calendar.title}
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:section>
</html>
