<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="main">
        <h1><f:translate key="event.new" /></h1>
        <f:form name="event" action="create" object="{event}">
            <f:render partial="Event/FormFields"
                      section="main"
                      arguments="{calendar: calendar, calendars: calendars, event: event, timezones: timezones, status: status}" />
            <f:form.button class="btn btn-lg btn-success" title="{f:translate(key:'event.save')}"><i class="bi bi-check"></i></f:form.button>
        </f:form>
    </f:section>
    <f:section name="navigation">
        <f:link.action action="list" controller="Calendar" class="btn btn-lg btn-primary" title="{f:translate(key:'back')}">
            <i class="bi bi-arrow-left"></i>
        </f:link.action>
    </f:section>
</html>
